

<div class="col-md-12 row">
  <h3 style="margin-bottom: 50px;margin-top: 50px;margin-left: 105px;"><strong>CHECKOUT</strong></h3>
</div>

<div class="container checkout">
    <div class="row">
          <div class="col-md-8">




          
          <div class="panel panel-info">
                <div class="panel-heading"><strong>SHIPPING</strong></div>
                  <div class="panel-body">
                    
                   
                      
                      
                      <div class="form-group">
                        <div class="col-md-2"><strong>First Name</strong></div>
                        <div class="col-md-6">
                            <input type="text" name="address" class="form-control" value="" />
                        </div>
                     </div>
                             


                             <div class="form-group">
                                <div class="col-md-2"><strong>Last Name</strong></div>
                                <div class="col-md-6">
                                    <input type="text" name="address" class="form-control" value="" />
                                </div>
                            </div>
                           
                            

                            <div class="form-group">
                                <div class="col-md-2"><strong>Address</strong></div>
                                <div class="col-md-6">
                                    <input type="text" name="address" class="form-control" value="" /> 
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">
                                    <input type="text" name="address" class="form-control" value="" /> 
                                </div>
                            </div>
                           

                            

                            <div class="form-group">
                                <div class="col-md-2"><strong>City</strong></div>
                                <div class="col-md-6">
                                    <input type="text" name="city" class="form-control" value="" />
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <div class="col-md-2"><strong>State</strong> </div>
                               
                                <div class="col-md-6">
                                   <select class="form-control" name="">
                                        <option value="">Ang Mo Kio New Town</option>
                                        <option value="01">Ardmore Flats</option>
                                        <option value="02">Ayer Rajah</option>
                                        <option value="03">Bajau Estate</option>
                                        <option value="04">Bena Park</option>
                                        <option value="04">Bishan New Town</option>
                                        <option value="04">Boon Lay</option>
                                        <option value="04">Ayer Raja New Town </option>
                                    </select>
                             </div>
                            </div>
                            
                            
                            <div class="form-group">
                                <div class="col-md-2"><strong>Zip/Postal Code</strong></div>
                                <div class="col-md-6">
                                    <input type="text" name="zip_code" class="form-control" value="" />
                                </div>
                            </div>
                       
                    </div>
                    </div>


          
             <!--  <h4 ><strong class="paymentmethod">CHOOSE YOUR PAYMENT METHOD:</strong></h4> -->
              <hr>

               <!--  <div class="col-md-3 headingone">
                <label class="radio-inline"><input type="radio" name="optradio"><strong>credit or debit card
                </strong></label>
                </div>
                <div class="col-md-3 headingone">
                <label class="radio-inline"><input type="radio" name="optradio"><strong>PAY PAL</strong></label>
                </div>
           -->
              



          
               <div class="panel panel-info">
               <div class="panel-heading"><strong>PAYMENT</strong></div>
                        <div class="panel-body">
                           
                            <div class="form-group">
                                <div class="col-md-2"><strong>Card Type</strong></div>
                                  <div class="col-md-4">
                                     <select id="CreditCardType" name="CreditCardType" class="form-control">
                                        <option value="5">Visa</option>
                                        <option value="6">MasterCard</option>
                                        <option value="7">American Express</option>
                                        <option value="8">Discover</option>
                                      </select>
                                  </div>
                             </div>

                            
                        <div class="form-group">
                        <div class="col-md-2"><strong> Card Number</strong></div>
  
  
                        <div class="col-md-4"><input type="text" class="form-control" name="car_number" value="" />
                          </div>
                          </div>
                          
                         

                            <div class="form-group">
                                <div class="col-md-2">
                                    <strong>Expiration Date</strong>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <select class="form-control" name="">
                                        <option value="">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="12">13</option>
                                        <option value="12">14</option>
                                        <option value="12">15</option>
                                        <option value="12">16</option>
                                        <option value="12">17</option>
                                        <option value="12">18</option>
                                        <option value="12">19</option>
                                        <option value="12">20</option>
                                        <option value="12">21</option>
                                        <option value="12">22</option>
                                        <option value="12">23</option>
                                        <option value="12">24</option>
                                        <option value="12">25</option>
                                        <option value="12">26</option>
                                        <option value="12">27</option>
                                        <option value="12">28</option>
                                        <option value="12">29</option>
                                        <option value="12">30</option>
                                        <option value="12">31</option>
                                        
                                   </select>
                                </div>
                                
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                    <select class="form-control" name="">
                                        <option value="">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                </div>
                            </div>

                             <div class="form-group">
                                 <div class="col-md-2"><strong>Card CVV</strong></div>
                                  <div class="col-md-4"><input type="text" class="form-control" name="car_code" value="" />
                                        </div>
                              </div>
                                  <hr>
                              <div>
                                 <button type="button" class="btnsix"> BUY NOW </button>
                              </div>

                        </div>
                    </div>
                    
               




                

    </div>

    
    <div class="col-md-4">
    <div class="checkoutone ">
      <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>SUMMARY</strong></div>
                <table class="table table-striped">
                <tbody>
                <tr>
                <td><strong>Sub Total</strong></td>
                  <td class="right"><strong>$260.00</strong></td>
                </tr>

                <tr>
                <td><strong>Estimated shipping & handling</strong></td>
                  <td class="right"><strong>$0.00</strong></td>
                </tr>

                <tr>
                <td><strong>Tax</strong></td>
                  <td class="right"><strong>$_._</strong></td>
                </tr>

                <tr >
                <td ><strong style="font-size: 18px;">Total</strong></td>
                  <td class="right"><strong style="font-size: 18px;color: orange;">$260.00</strong></td>
                </tr>
                </tbody>
              
              </table>
            </div>
            </div>
            </div>
<!-- 
             <div class="row">
             <div class="col-md-12">
              <div class="panel panel-default">
              <div class="panel-heading"><strong>IN YOUR CART</strong>
                  <button type = "button" class = "btncart"><strong>EDIT</strong></button>
              </div>
          </div>
          </div>
          </div> -->

         <!--  <div class="row">
           <div class="col-md-12">
             <div class="arrives">
              <h4 style="text-align: center;"><strong>ARRIVES 2-4 DAYS</strong></h4>
                <table class="table">
                <tbody>
                <tr>
                <td><img src="images/img1.jpg" style="height: 60px; width: 80px; margin-top: 60px;"></td>
                  <td><p><strong>Nike Free RN Flyknit<br>
                             Men's Running Shoe
                                  </strong>      </p>
                                      <strong>  Style#:831069-603<br>
                                        Size: 8<br>
                                        Qty: 2
                                        </strong>
                                        <p>
                                        <p>
                                        <strong style="color: orange;">
                                        $260.00
                                        </strong>
                                        </p>
                            </td>
                            </tr>
                            </tbody>
                            </table>
                      </div>
                      </div>
                      </div> -->

              <!--   <div class="row">
                <div class="col-md-12">
                  <div class="linkone">
                    <h4> <strong>NEED HELP?</strong></h4>
                      <ul class="linktwo">
                  <li>
                    <a href="#"> When will I get my Order?</a>
                  </li>
                   <li>
                    <a href="#"> What are my shipping const?</a>
                  </li> 
                  <li>
                    <a href="#"> How do I ship to APO/FPO?</a>
                  </li>
                </ul>
                <a href="#">More Help?</a>
                  
                </div>
            </div>
            </div> -->
            </div>
        
      </div>
   
</div>
</div>
</div>


    </div>
 </div> 
</div>


