



    <div class="container">
    <div class="row">
    <div class="mainbox col-md-8 col-md-offset-2" >
    <div class="contentBox clearfix">
            
                
               

                    <div class="col-md-4">
                        <img src="./images/shopping.jpg" class="img-thumbnailshop" alt="Cinque Terre">
                    </div>
                        
                        <div class="col-md-8 shopnow">
                        
                        <div>
                            <strong class="shopone">Thank you...!!</strong>
                        </div>
                        
                        <div class="shoptwo">
                           ORDER SUCCESSFUL
                        </div>
                        
                        </div>

                        <div class=" col-md-12 row">

                        <div class="shopthree">
                            <a href="#">Continue Shopping <i class="glyphicon glyphicon-arrow-right"></i> </a>
                        </div>
                        </div>
                    

                 </div>

            </div>
    </div>
    </div>
