<div class="sidebar-menu">
    <header class="logo-env">
        <!-- logo -->
       <!--  <div class="logo">
            <a> <img class="logoimage" src="css/assets/images/logo.png" alt="" /> </a>
        </div> -->
        <!-- logo collapse icon -->
        <div class="sidebar-collapse">
            <a href="" class="sidebar-collapse-icon with-animation" ng-click="showhide('main-menu')">
                <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                <i class="entypo-menu"></i> </a>
        </div>
        <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
        <div class="sidebar-mobile-menu visible-xs">
            <a href="" class="with-animation" ng-click="showhide('main-menu')">
                <!-- add class "with-animation" to support animation -->
                <i class="entypo-menu"></i> </a>
        </div>
    </header>
    <ul id="main-menu" class="">
        <li class="opened active"> <a href="" ng-click="showhide('sub_menu')"><i class="entypo-menu"></i><span>Business action</span></a>
            <ul id="sub_menu">
                <li>
                    <a ng-click="showhide('inner_submenu_maincategory')"> <i class="entypo-menu"></i><span>User</span></a>
                    <ul id="inner_submenu_maincategory" style="display:none;">
                       <!--  <li class="active">
                            <a ng-click="goto('add_category')"><span>Add Category</span></a>
                        </li> -->
                        <li class="active">
                            <a ng-click="goto('userlist')"><span> User List</span></a>
                        </li>
                    </ul>
                </li>
            </ul>

             <ul id="sub_menu">
                <li>
                    <a ng-click="showhide('inner_add_category')"> <i class="entypo-menu"></i><span>Add categories</span></a>
                    <ul id="inner_add_category" style="display:none;">
                       <!--  <li class="active">
                            <a ng-click="goto('add_category')"><span>Add Category</span></a>
                        </li> -->
                        <li class="active">
                            <a ng-click="goto('add_category')"><span>Select Categories</span></a>
                        </li>
                    </ul>
                </li>
            </ul>


            <ul id="sub_menu">
                <li>
                    <a ng-click="showhide('inner_productmanagement')"> <i class="entypo-menu"></i><span>Product Management</span></a>
                    <ul id="inner_productmanagement" style="display:none;">
                       <!--  <li class="active">
                            <a ng-click="goto('add_category')"><span>Add Category</span></a>
                        </li> -->
                        <li class="active">
                            <a ng-click="goto('productmanagement')"><span>Product List</span></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul id="sub_menu">
                <li>
                    <a ng-click="showhide('inner_buyer_seller_list')"> <i class="entypo-menu"></i><span>Buyer & Seller List</span></a>
                    <ul id="inner_buyer_seller_list" style="display:none;">
                       <!--  <li class="active">
                            <a ng-click="goto('add_category')"><span>Add Category</span></a>
                        </li> -->
                        <li class="active">
                            <a ng-click="goto('buyer_seller_list')"><span>Show List</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
            
            
        </li>
    </ul>
</div>
