<div>
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Order Management</h2>
            <h3>Total OrderCost: $ {{totalOrderCost}}</h3>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead>
                                        <tr>
                                            <th>Sr.no</th>
                                            <th>Item Name</th>
                                            <th>Category</th>
                                            <th>Item Picture</th>
                                            <th>Item Price</th>
                                            <th>Order Date</th>
                                        </tr>
                                    <tbody>
                                    </thead>
                                        <tr ng-repeat="o in orderlist">
                                            <td>{{$index + 1}}</td>
                                            <td>{{o.item_name}}</td>
                                            <td>{{o.category_name}}</td>
                                            <td>image</td>
                                            <td>{{o.paid_amount}}</td>
                                            <td>{{o.created_on | date:"dd-MM-yyyy"}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    <div class="modal fade" id="del_cat" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 225px auto;">
            <div class="modal-content delete">
                <div class="modal-header" style="border:none;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="img/delete.svg">
                    <br>
                    <h3 class="modal-title" id="lineModalLabel">Delete item?</h3>
                    <div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="padding:7px 20px;">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="del(itemid)" data-dismiss="modal" style="margin-left: 5px;">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
