<div >
    <div class="page-container">
        <header ng-include="'partials/left_menu.html'"></header>
        <div class="main-content">
            <header ng-include="'partials/user_menu.html'"></header>
            <hr />
            <div class="row"> </div>
            <h2 class="table_heading">Product Management</h2>
            <div class="add_btn_container">
              <button class="btn btn-success" type="button" ng-click="goto('add_category')">Add Category</button>
            </div>
            <div class="row">
                <div class="col-md-12">

                	<div class = "row">
   
   <div class = "col-sm-6 col-md-3">
      		<div class = "thumbnail">
         		<img src = "img/img1.jpg" alt = "Generic placeholder thumbnail">
      		</div>
      
     	 <div class = "caption">
        	 <h3>T-Shirt</h3>
         <p>An everyday essential, this basic t-shirt is made from soft pima cotton.
          A regular fit, it has short sleeves and a classic round neckline.</p>
          <h3><strong>$200.00 </strong></h3>
            <div style="margin-top: 15px;">
            <a href = "#" class = "btnadmin" role = "button">
               Enable
            </a> 
            
            <a href = "#" class = "btnuser" role = "button">
               Disable
            </a>
            </div>

      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "img/img1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
          <h3>T-Shirt</h3>
         <p>An everyday essential, this basic t-shirt is made from soft pima cotton.
          A regular fit, it has short sleeves and a classic round neckline.</p>
         <h3><strong>$200.00 </strong></h3>
         
        <div style="margin-top: 15px;">
            <a href = "#" class = "btnadmin" role = "button">
               Enable
            </a> 
            
            <a href = "#" class = "btnuser" role = "button">
               Disable
            </a>
            </div>

      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "img/img1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
          <h3>T-Shirt</h3>
         <p>An everyday essential, this basic t-shirt is made from soft pima cotton.
          A regular fit, it has short sleeves and a classic round neckline.</p>
         
         <h3><strong>$200.00 </strong></h3>
        <div style="margin-top: 15px;">
            <a href = "#" class = "btnadmin" role = "button">
               Enable
            </a> 
            
            <a href = "#" class = "btnuser" role = "button">
               Disable
            </a>
            </div>

      </div>
   </div>
   
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <img src = "img/img1.jpg" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = "caption">
          <h3>T-Shirt</h3>
         <p>An everyday essential, this basic t-shirt is made from soft pima cotton.
          A regular fit, it has short sleeves and a classic round neckline.</p>
        		<h3><strong>$200.00 </strong></h3>
         
        <div style="margin-top: 15px;">
            <a href = "#" class = "btnadmin" role = "button">
               Enable
            </a> 
            
            <a href = "#" class = "btnuser" role = "button">
               Disable
            </a>
            </div>

         
      </div>


   </div>

</div>
<div class="container panelone">
 <div class="row">
<div class="col-md-12">
            <a href = "#" class = "btnadminone" role = "button">
               Enable
            </a> 
            
            <a href = "#" class = "btnuserone" role = "button">
               Disable
            </a>
            </div>
          </div>
          </div>



                   <!--  <div class="row">
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"> </div>
                                <table class="table table-bordered table-striped datatable" id="table-2">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th style="width: 32%;">Action</th>
                                        </tr>
                                    <tbody>
                                    </thead>
                                        <tr ng-repeat="category in Category">
                                            <td>{{category.category_name}}</td>
                                            <td>{{category.category_description}}</td>
                                            <td>
                                                <a href="" class="btn btn-default btn-sm btn-icon icon-left" ng-click='edit(category.category_id)'>
                                                    <i class="entypo-pencil"></i> Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm btn-icon icon-left" data-toggle="modal" data-target="#del_cat"  ng-click='confirmcatdel(category.category_id)' >
                                                    <i class="entypo-cancel"></i> Delete
                                                </a>
                                                <a href="" class="btn btn-info btn-sm btn-icon icon-left" ng-click='categorydata(category.category_id)'>
                                                    <i class="entypo-info"></i> View
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p ng-show="showdeletemsgmsg" class="success_msg">{{deletemsg}}</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Footer -->
        </div>
    </div>

    
</div>
